name: Manual Release Build

on:
  workflow_dispatch:
    inputs:
      tag_name:
        description: 'Tag name to release (e.g. v1.0.0)'
        required: true
        default: 'v1.0.0'

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest
          
      - name: Install dependencies
        run: bun install
        
      - name: Build Windows
        run: bun build src/index.ts --compile --target bun-windows-x64 --outfile zombie-watcher-win.exe

      - name: Build Linux
        run: bun build src/index.ts --compile --target bun-linux-x64 --outfile zombie-watcher-linux

      - name: Build macOS (x64)
        run: bun build src/index.ts --compile --target bun-darwin-x64 --outfile zombie-watcher-macos

      - name: Build macOS (Silicon)
        run: bun build src/index.ts --compile --target bun-darwin-arm64 --outfile zombie-watcher-macos-arm64
        
      - name: Create Tag
        run: |
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"
          git tag ${{ inputs.tag_name }}
          git push origin ${{ inputs.tag_name }}
        env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        continue-on-error: true

      - name: Release and Upload Assets
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ inputs.tag_name }}
          files: |
            zombie-watcher-win.exe
            zombie-watcher-linux
            zombie-watcher-macos
            zombie-watcher-macos-arm64
          fail_on_unmatched_files: true
          generate_release_notes: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
